
/* Your CSS Code here. */
.margin{
	border : 1px solid black;
	margin : 20px;
	padding : 30px;
}
.border {
	border : 30px solid blue;
/* 	padding : 30px; */
	background-color : lightblue;
}
.padding {
/* 	border : 2px solid black; */
	padding : 30px;
	background-color : lightblue;
}
.textarea{
	width : 300px;
	padding : 20px;
	border : 2px solid black;
}