
/* Your CSS Code here. */
.margin{
	width : 300px;
	background-color : lightblue;
	border : 15px solid blue;
	margin : 20px;
	padding : 50px;
}
/* .border {
	width : 90%;
	border : 30px solid blue;
	padding : 30px;
	background-color : lightblue;
}
.padding {
	width : 80%;
	padding : 30px;
	background-color : lightblue;
}
.textarea{
	width : 70%;
	padding : 20px;
	border : 2px solid black;
} */


 */